.nav-wrapper,
h5{
    margin: 0px;
    padding:0px 50px 0px 60px;
    color: white;
}


.brand-logo{
    padding:0px 50px 0px 80px;
}


.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 100px;
    padding: 0px 100px;
}


.divider{
    width:6px;
    border:none;
}


.to_do_list,
.add_to_do,
.edit_to_do,
.category,
.add_category,
.edit_category
{
    height:45px;
    background-color: #f5a3a7;
    padding-top: 10px;
    margin-bottom: 30px;
    padding-bottom: 40px;
}


/*Task*/
.content_container{
    border :none;
    box-shadow: none;
}


.category_side{
    width: 40px;
}



.left_margin{
    margin-left: 35px;
}


.button_margin{
    margin-left: 50px;
}


.width{
    width: 45px;
}


.ul_style{
    padding: 0px;
    margin: 0px;
}




















