{% extends 'layout.html'%} {% block content %}


<div class="edit_to_do">
    <h5>Edit To-do</h5>
</div>
 

<div class="row">
    <div class='col left_margin'></div>  
    <div class='col s11'>
    <form action="{{ url_for('update_todo', todo_id=todo._id) }}" method="POST" class="col s12">
        
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">poll</i>
                <select id="category" name="category_name">
                  <option value="" disabled selected>Choose Category</option>
                  {% for cat in category %}
                        {% if cat.category_name == todo.category_name%}
                          <option value="{{cat.category_name}}" selected >{{cat.category_name}}</option>
                          {% else %}
                           <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                        {% endif %}
                  {% endfor %}
                </select>
                <label>To-do Category</label>
            </div>
        </div>
        
        
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="todo_title" name="todo_title" type="text" class="validate" value="{{todo.todo_title}}">
                <label for="todo_title">To-do Title</label>
            </div>
        </div>
        
        
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea name="todo_description" id="todo_description" class="materialize-textarea">{{todo.todo_description}}</textarea>
                <label for="todo_description">To-do Description</label>
            </div>
        </div>
        
        
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">account_box</i>
                <textarea name="person_in_charge" id="person_in_charge" class="materialize-textarea">{{todo.person_in_charge}}</textarea>
                <label for="person_in_charge">Person In Charge</label>
            </div>
        </div>
        
        
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">language</i>
                <textarea name="website" id="website" class="materialize-textarea">{{todo.website}}</textarea>
                <label for="website">Website</label>
            </div>
        </div>
        
        
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">today</i>
                <input id="due_date" name="due_date" type="text" class="datepicker">
                <label for="due_date">Due Date</label>
            </div>
        </div>
        
        
        <div class="row">
            <div class="switch">
                <label>
                    {% if todo.is_urgent %}
                          <input id="is_urgent" name="is_urgent" type="checkbox" checked>
                    {% else %}
                         <input id="is_urgent" name="is_urgent" type="checkbox">
                    {% endif%}
                  <span class="lever"></span>
                  Is Urgent
                </label>
            </div>
        </div>
        
        
        <div class="row">
            <button class="btn waves-effect waves-light edit_btn" type="submit" name="action">Edit To-Do</button>
        </div>
        
        
    </form>
</div>
</div>

{%endblock%}



{%block extra_js %}
<script type="text/javascript">
    $(document).ready(function() {
        due_date = new Date('{{todo.due_date}}');
        // $('#due_date').pickadate('picker').set('select', due_date, { format: 'dd/mm/yyyy' }).trigger('change');
        $("#due_date").datepicker('setDate', due_date);
        $("#due_date").datepicker("_finishSelection");
    });
</script>
{% endblock %}
