<!DOCTYPE html>
<html>
    
<head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>
</head>
    
    
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="{{url_for('get_todos')}}" class="brand-logo">Holiday Checklist</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('get_todos')}}">Home</a></li>
                    <li><a href="{{url_for('add_todo')}}">Add To-do</a></li>
                    <li><a href="{{url_for('get_category')}}">Manage Category</a></li>
                </ul>
                </div>
                </nav>
                <!--extended hamburger navbar added for mobile-->
                <ul class="sidenav" id="mobile-demo">
                    <li><a href="{{url_for('get_todos')}}">Home</a></li>
                    <li><a href="{{url_for('add_todo')}}">Add To-do</a></li>
                    <li><a href="{{url_for('get_category')}}">Manage Category</a></li>
                </ul>
            
        
    </header>   
    
    <div>  
        {% block content %} {% endblock %}
    </div>
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
        
    <!--to perform the collapsible, datepicker and select option function-->
    <script type="text/javascript">
        $(document).ready(function(){
            $('.collapsible').collapsible();
            $('.datepicker').datepicker({
                format:'dd/mm/yyyy'
            });
            $('select').formSelect();
            $('.sidenav').sidenav();
            $('.dropdown-trigger').dropdown();
            
        });
        
    </script>  
        
        
        {%block extra_js%}{%endblock%}
</body>
    
</html>