{% extends 'layout.html' %} {% block content %}


<div class="allTask">
  <div class='row'>
      <div class='col'>
        <h5>All Task</h5>
      </div>
      <div class='col'>
           <!-- Dropdown Trigger -->
      <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Drop Me!</a>
  
    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
      <li><a href="#!">one</a></li>
      <li><a href="#!">two</a></li>
      <li class="divider" tabindex="-1"></li>
      <li><a href="#!">three</a></li>
      <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
      <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
    </ul>
      </div>
     
  </div>

    


<div class="row">
  
<!--put the collapsible initialization in layout.html    -->
  <ul class="collapsible">
    {% for task in tasks %}
    <li>
      
      <div class="collapsible-header">
          <div class="task_header col s3">
              <i class="material-icons">expand_more</i>
              <a href="{{url_for('delete_task', task_id=task._id)}}" class="waves-effect waves-light btn btn-small">Done</a>
              <a href="{{url_for('edit_task', task_id=task._id)}}" class="waves-effect waves-light btn btn-small">Edit</a>
              <!--<strong>{{task.category_name}}</strong>-->
          </div>
        
          <div class="task_header col s9">
              <strong>Category : {{task.category_name}}</strong>
              <br><strong>{{task.task_name}}</strong> - {{task.due_date}}
          </div> 
      </div>
        
        
      <div class="collapsible-body">
        <span>{{task.task_description}}</span><br><span>{{task.website}}</span><br><span>Person in charge - {{task.person_in_charge}}</span>
      </div>
    
    </li>
    {% endfor %}  
  </ul>
</div>
</div>
  
{% endblock %} 







