{% extends 'layout.html' %}
{% block content %}


<!--put the collapsible initialization in layout.html    -->
<ul class="collapsible">
     {% for task in tasks %}
    <li>
      <div class="collapsible-header"><i class="material-icons">expand_more</i><strong>{{task.task_name}}</strong> - {{task.due_date}}</div>
      <div class="collapsible-body"><span>{{task.task_description}}</span><br><span>{{task.website_link}}</span></div>
    </li>

    {% endfor %}  
  </ul>
  

<!--Sam's Code-->
<div>
    <section class="jumbotron text-center">
        <div class="container">
          <h5 class="jumbotron-heading" id="font1">Add Tasks</h5>
          <p id="font3">
            <a href='{{ url_for('add_task') }}' class="btn"> Add</a>
          </p>
        </div>
      </section>
</div>
        
{% endblock %}  